<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Connect With Me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      My Social Media Accounts
    </ion-list-header>

    <ion-item>
      <ion-icon name="logo-linkedin" slot="start"></ion-icon>
      <ion-label>
        <h3><a href="https://www.linkedin.com/in/aminat-abolore-ajagbe-904b55a7/" target="_blank">AMINAT ABOLORE AJAGBE</a></h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="logo-instagram" slot="start"></ion-icon>
      <ion-label>
        <h3><a href="https://www.instagram.com/a3ajagbe/" target="_blank">A3AJAGBE</a></h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="logo-twitter" slot="start"></ion-icon>
      <ion-label>
        <h3><a href="https://twitter.com/A3AJAGBE" target="_blank">A3AJAGBE</a></h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="logo-github" slot="start"></ion-icon>
      <ion-label>
        <h3><a href="https://github.com/A3AJAGBE" target="_blank">A3AJAGBE</a></h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>
        <h3><a href="http://ajagbeaminat.com.ng" target="_blank">My Website</a></h3>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
