<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>About US</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
  <ion-row>
    <ion-col>
      <div class="ion-text-start">
        <h2>A3AJAGBE SOLUTIONS</h2>
        <ion-text>This is a startup that's here to deliver quality, cost-effective, user-friendly and
          result-oriented Web Designing, Website Development and E-Commerce, App Development, Digital Marketing,
          SEO and Web hosting solutions for a global clientele. We promise to be a trustworthy partner for you with our
          conviction, swift approach, excellent idea and prominent management. <br><br> The satisfaction of our clients will
          be our topmost priority as a tech solutions company.</ion-text>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="primary">
          <ion-icon name="share-social-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="start">
          <ion-fab-button color="primary">
            <a href="https://www.instagram.com/a3ajagbe/" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
          </ion-fab-button>
          <ion-fab-button color="primary">
            <a href="https://twitter.com/A3AJAGBE" target="_blank"><ion-icon name="logo-twitter"></ion-icon></a>
          </ion-fab-button>
          <ion-fab-button color="primary">
            <a href="http://ajagbeaminat.com.ng" target="_blank"><ion-icon name="desktop"></ion-icon></a>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>

</ion-content>
