<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Developer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="./assets/images/profile.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Graduate Student</ion-card-subtitle>
      <ion-card-title>Dublin Business School</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      This project done to complete the requirements of Web and Mobile Technologies class.
      I have developed a hybrid mobile application for a startup company called
      "A3AJAGBE SOLUTIONS".
    </ion-card-content>
  </ion-card>

</ion-content>
