<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      A3AJAGBE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="./assets/images/profile.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Graduate Student</ion-card-subtitle>
      <ion-card-title>Dublin Business School</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      I'm working towards attaining the highest possible position through
       hard work, perseverance, dedication, honesty, integrity, and teamwork
       in my chosen career and to influence immediate environment positively.
    </ion-card-content>
  </ion-card>

</ion-content>
