<ion-app>

  <div *ngIf="showSplash" class="splash">
    <div class="sk-folding-cube">
      <div class="sk-cube1 sk-cube"></div>
      <div class="sk-cube2 sk-cube"></div>
      <div class="sk-cube4 sk-cube"></div>
      <div class="sk-cube3 sk-cube"></div>
    </div>
  </div>


  <ion-split-pane contentId="content">
    <ion-menu side="start" contentId="content">
        <ion-header>
          <ion-toolbar color="primary">
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-menu-toggle auto-hide="false" *ngFor="let pages of navigate">
              <ion-item [routerLink]="pages.url" routerDirection="root" >
                  <ion-icon [name]="pages.icon" slot="start"></ion-icon>
                     <ion-label>{{pages.title}}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-content>
      </ion-menu>
  <ion-router-outlet id="content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
